<web-app>
    <servlet>
        <servlet-name>BooksServlet</servlet-name>
        <servlet-class>com.sda.books.application.BooksServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>BooksServlet</servlet-name>
        <url-pattern>/books</url-pattern>
    </servlet-mapping>
</web-app>
